<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <form action="/specs" method="post">
        <label for="brand">Company</label><br>
        <input type="text" id="brand" name="brand"><br>
        <label for="ltype">Laptop Type</label><br>
        <input type="text" id="ltype" name="ltype"><br>
        <label for="lram">Ram</label><br>
        <input type="text" id="lram" name="lram"><br>
        <label for="lwt">Weight</label><br>
        <input type="text" id="lwt" name="lwt"><br>
        <label for="ldisplay">Touch Screen</label><br>
        <input type="text" id="ldisplay" name="ldisplay"><br>
        <label for="lscreen">IPS</label><br>
        <input type="text" id="lscreen" name="lscreen"><br>
        <label for="lsize">Screen Size</label><br>
        <input type="text" id="lsize" name="lsize"><br>
        <label for="lresolution">Screen Resolution</label><br>
        <input type="text" id="lresolution" name="lresolution"><br>  
        <label for="cpu">CPU</label><br>
        <input type="text" id="cpu" name="cpu"><br>
        <label for="hdd">HDD</label><br>
        <input type="text" id="hdd" name="hdd"><br>
        <label for="ssd">SSD</label><br>
        <input type="text" id="ssd" name="ssd"><br>
        <label for="gpu">GPU</label><br>
        <input type="text" id="gpu" name="gpu"><br>
        <label for="os">OS</label><br>
        <input type="text" id="os" name="os"><br><br>
        <button type="submit">Submit</button>
      </form>
</body>
</html>

