<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
          <!-- Bootstrap CSS -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #525CEB;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <!-- Bootstrap Javascripts -->  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<div style="display: flex; justify-content: center; align-item: center;">
    <form action="/specs" method="post" style = "width: 70vw;"> 
        <p class="h1 mt-3 text-center">Laptop Price Prediction</p>
        <div class="mt-5 mb-3 form-check">

        <div style = "display: flex; justify-content: space-evenly" class="mt-3">
        <!--<label for="brand" class="form-label">Company</label> -->
            <select id="brand" name="brand" class="form-select" aria-label=:"Company" style = "width: 40%">
                <option selected disabled>Select Your Preferred Brand</option>
                <option value="Apple">Apple</option>
                <option value="HP">HP</option>
                <option value="3">Acer</option>
                <option value="4">Asus</option>
                <option value="5">Dell</option>
                <option value="6">Lenovo</option>
                <option value="7">Chuwi</option>
                <option value="8">MSI</option>
            </select>
            <select id="ltype" name="ltype" class="form-select" aria-label="Laptop Type" style = "width: 40%">
                <option selected disabled>What kind of Laptop your are looking for ?</option>
                <option value="Ultrabook">Ultrabook</option>
                <option value="Notebook">Notebook</option>
                <option value="3">Netbook</option>
                <option value="4">Gaming</option>
                <option value="5">2 in 1 Convertible</option>
                <option value="6">Workstation</option>
            </select>
        </div>

        <div style = "display: flex; justify-content: space-evenly" class="mt-3">
            <select id="lram" name="lram" class="form-select" aria-label="Ram" style = "width: 40%">
                <option selected disabled>How much ram you need ?</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="12">12</option>
                <option value="16">16</option>
                <option value="24">24</option>
                <option value="32">32</option>
            </select>

            <input type="text" name="lwt" class="form-control" id="lwt" placeholder="Preferred Weight of Laptop" style = "width: 40%">

        </div> 
            
        <div style = "display: flex; justify-content: space-evenly" class="mt-3">
            <select id="ltouch_screen" name="ltouch_screen" class="form-select" aria-label="Screen Type" style = "width: 40%">
                <option selected disabled>Enter you preferred Screen Type ?</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <select id="ips" name="ips" class="form-select" aria-label="IPS" style = "width: 40%">
                <option selected disabled>Do you need an IPS Laptop ?</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>

        <div style = "display: flex; justify-content: space-evenly" class="mt-3">
            <input type="text" name="lsize" class="form-control" id="lsize" placeholder="Preferred Screen Size" style = "width: 40%">
            
            <select id="lresolution" name="lresolution" class="form-select" aria-label="Screen Resolution"  style = "width: 40%">
                <option selected disabled>Enter Screen Resolution You would Prefer</option>
                <option value="1920x1080">1920x1080</option>
                <option value="2">1366x768</option>
                <option value="3">1600x900</option>
                <option value="3">3840x2160</option>
                <option value="3">3200x1800</option>
                <option value="3">2880x1800</option>
                <option value="3">2560x1600</option>
                <option value="3">3840x2160</option>
                <option value="3">2560x1440</option>
            </select>  
        </div>    
    
        <div style = "display: flex; justify-content: space-evenly" class="mt-3">
            <select id="cpu" name="cpu" class="form-select" aria-label="CPU"  style = "width: 40%">
                <option selected disabled>Processor</option>
                <option value="Intel Core i5">Intel Core i5</option>
                <option value="2">Intel Core i7</option>
                <option value="3">AMD Processor</option>
                <option value="2">Intel Core i3</option>
                <option value="2">Other Intel Processor</option>
            </select>  
            <select id="hdd" name="hdd" class="form-select" aria-label="Hard Disk"  style = "width: 40%">
                <option selected disabled>Hard Disk Storage</option>
                <option value="0">0</option>
                <option value="128">128</option>
                <option value="256">256</option>
                <option value="512">512</option>
                <option value="1024">1024</option>
                <option value="2048">2048</option>
            </select>
        </div>

        <div style = "display: flex; justify-content: space-evenly" class="mt-3">
            <select id="ssd" name="ssd" class="form-select" aria-label="SDD"  style = "width: 40%">
                <option selected disabled>SSD</option>
                <option value="0">0</option>
                <option value="128">128</option>
                <option value="256">256</option>
                <option value="512">512</option>
                <option value="1024">1024</option>
            </select>
            
            <select id="gpu" name="gpu" class="form-select" aria-label="GPU"  style = "width: 40%">
                <option selected disabled>GPU</option>
                <option value="Intel">Intel</option>
                <option value="AMD">AMD</option>
                <option value="Nvidia">Nvidia</option>
            </select>
        </div>

        <div style = "display: flex; justify-content: space-evenly;" class="mt-3">
            <select id="os" name="os" class="form-select" aria-label="Operating System"  style = "width: 40%">
                <option selected disabled>Operating System</option>
                <option value="Mac">Mac</option>
                <option value="Others/No OS/Linux">Others/No OS/Linux</option>
                <option value="Windows">Windows</option>
            </select>
        
        <button type="submit" class="btn btn-primary" style = "width: 40%; background-color: #525CEB;">Submit</button>
        </div>
    </form>
</div>

<!--<h1 class="heading">Laptop Price Predictor</h1>
    <form action="/specs" method="post">
        <label for="brand">Company</label><br>
        <input type="text" id="brand" name="brand"><br>
        <label for="ltype">Laptop Type</label><br>
        <input type="text" id="ltype" name="ltype"><br>
        <label for="lram">Ram</label><br>
        <input type="text" id="lram" name="lram"><br>
        <label for="lwt">Weight</label><br>
        <input type="text" id="lwt" name="lwt"><br>
        <label for="ltouch_screen">Touch Screen</label><br>
        <input type="text" id="ltouch_screen" name="ltouch_screen"><br>
        <label for="ips">IPS</label><br>
        <input type="text" id="ips" name="ips"><br>
        <label for="lsize">Screen Size</label><br>
        <input type="text" id="lsize" name="lsize"><br>
        <label for="lresolution">Screen Resolution</label><br>
        <input type="text" id="lresolution" name="lresolution"><br>  
        <label for="cpu">CPU</label><br>
        <input type="text" id="cpu" name="cpu"><br>
        <label for="hdd">HDD</label><br>
        <input type="text" id="hdd" name="hdd"><br>
        <label for="ssd">SSD</label><br>
        <input type="text" id="ssd" name="ssd"><br>
        <label for="gpu">GPU</label><br>
        <input type="text" id="gpu" name="gpu"><br>
        <label for="os">OS</label><br>
        <input type="text" id="os" name="os"><br><br>
        <button type="submit">Submit</button>
      </form> -->
</body>
</html>

